<tr>
    <td>{{name}}</td>  <!--idvat ot jsto da gi definitam -->
    <td>{{description}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>
    <td><button data-id="{{_id}}">Discard</button></td>
</tr>